.upload {
  display: flex;
  justify-content: space-around;
}

.friends-containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 20px;
  margin-top: 4vh;

  .box {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px inset blue;
  }
}

.formerFriends {
  margin-top: 5vh;

  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px outset red;
  }
}

@media screen and (max-width: 920px) {
  /*   .upload {
    grid-template-columns: none;
    grid-template-rows: 1;
    justify-items: left;

    .uploadBtn {
      margin-top: 10px;
      margin-right: auto;
    }

    .detect {
      margin-top: 10px;
      order: 2;
    }
  } */

  .friends-containers .box {
    max-height: 18vh;
  }

  .formerFriends {
    margin-top: 2vh;
    .box {
      grid-template-columns: auto auto;
      max-height: 22vh;
    }
  }
}

@media screen and (max-width: 750px) {
  .upload {
    display: grid;
    grid-template-columns: none;
    justify-content: space-around;

    .uploadBtn {
      margin-top: 10px;
      margin-right: auto;
    }

    .detectBtn {
      margin-top: 10px;
      order: 2;
    }
  }
}

@media screen and (max-width: 500px) {
  .friends-containers {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .box {
      grid-template-columns: auto;
    }
  }

  .formerFriends .box {
    grid-template-columns: auto;
  }
}
