.drawer-container {
  width: 100%;
  height: fit-content;

  .menu {
    width: 15vw;

    .mat-drawer-inner-container {
      overflow: hidden !important;
    }
  }

  .content {
    padding: 10px;
  }
}
