.toolbar {
  background-color: darkslategray;
  color: whitesmoke;

  .title {
    cursor: pointer;
  }
}

.nav {
  width: 15vw;
}

.content {
  margin: 30px;
}

@media screen and (max-width: 800px) {
  .nav {
    width: 35vw;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    width: 40vw;
  }
}
