h1 {
  cursor: pointer;
}

.drawer-container {
  width: 100%;
  height: 90%;

  .menu {
    width: 15vw;
    cursor: pointer;

    .mat-drawer-inner-container {
      overflow: hidden !important;
    }

    .active {
      background-color: lightgray;
    }
  }

  .content {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .drawer-container {
    .menu {
      width: 20vw;
      cursor: pointer;
    }
  }
}
